@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

header {
    color: hsl(150, 100%, 66%);
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
}

#advice__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(217, 19%, 24%);
    height: 300px;
    width: 500px;
    border-radius: 1em;
}

#advice__article {
    width: 390px;
    text-align: center;
    color: hsl(193, 38%, 86%);
    margin: 30px 20px;
    font-size: 23px;
    font-weight: bold;
}

img {
    width: 400px;
}

/* #advice__card > .dice {
    position: fixed;
} */

.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 300px;
    border-radius: 2em;
    background-color: hsl(150, 100%, 66%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dice:hover {
    box-shadow: 0 0 10px 1px hsl(150, 100%, 66%);
}

#icon-dice {   
    width: 22px;
}

.attribution {
    margin-top: 30px;
}